.text-editor {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0 50px;
}

.editor-submit-btn {
    width: 25%;
    align-self: center;
    height: 50px;
    background-color: #ff004f;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
    border: none;
}