@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container-profile{
  width: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile-card{
  width: 90%;
  max-width: 800px;
  height: 350px;
  text-align: center;
  background: #fff;
  color: #333;
  border-radius: 15px;

}

.row-1{
  height: 40%;
}
.cover-pic{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
}


.row-2{
  height: 50%;
  display: flex;
  flex-direction: row;
}
.col-1{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 30px;
  width: 32%;
  position: relative;
  animation: all 0.5s ease;
}

.row-2 .col-1 form img:hover{
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.add_bio{
  padding-top: 5px;
  padding-left: 43px;
  font-size: 15px;
}
.add_bio a{
  text-decoration: none;
}
.user-profile-pic{
  width: 140px;
  height: 140px;
  border: 5px solid white;
  border-radius: 50%;
  margin-top: -70px;

}
.green_dot{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 105px;
  top: 33px;
  border-radius: 50%;
  background-color: #23d5ab;
  border: 2px solid #FFFFFF;
  font-size: 20px;
  color: white;
  transition: all 0.5s ease;
}

.green_dot:hover{
  scale: 1.2;
  box-shadow: 0 2px 4px #23d5ab;
}

.green_dot:focus{
  scale: 1;
}

.user{
  font-size: 25px;
  padding-left: 10px;
}
.col-2{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-top: 20px;
  width: 47%;
  font-size: 15px;
}
.col-2-1{
  margin: 2px;
}
.col-2-1 a{
  text-decoration: none;
}
.col-3{
  text-align: end;
  padding-right: 10px;
  padding-top: 20px;
  width: 20%;
}
.heart{
  width: 30%;
  
}

.tab_box{
  width: 32.5%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 30px;
  padding-top: 10px;
  position: relative;
}

.line2{
  position: absolute;
  top: 30px;
  left: 53px;
  width: 36px;
  height: 5px;
  background-color: #0f4c81;
  border-radius: 15px;
  transition: all .3s ease-in-out;
}

.tab_box .tab_btn{
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
}


.tab_box .tab_btn.active{
  color: #0f4c81;
}


.container-content{
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
}

.content-box{
  width: 90%;
  max-width: 800px;
  height: max-content;
  text-align: center;
  background: #fff;
  color: #333;
  border-radius: 15px;
}

.content-box .tab_content{
  display: none;
  animation: moving .5s ease;
}
@keyframes moving {
  from{transform: translateX(50px);opacity: 0;}
  to{transform: translateX(0px);opacity: 1;}
}

.content-box .content.active{
  display: block;
}

.tab_content.active h2{
  padding: 10px;
}

.tab_content.active p{
  padding: 0px 10px 10px 10px;
}

.likes{
  height: 200px;
  position: relative;
  padding: 30px;
  text-align: start;
  border-bottom: 1px solid #E6E6E6;
  border-radius: 15px 15px 0px 0px;
}

.likes:last-child {
  border-bottom: none;
}

.gameTitle{
  position: absolute;
  top: 10px;
  left: 30px;
  color: rgba(185, 185, 185, 1);
  font-size: 14px;
}

.gg_wp{
  color: rgba(185, 185, 185, 1);
}

.showpassword{
  position: absolute;
  bottom: 10px;
  left: 30px;
  display: flex;
}

.password_icon{
  width: 22px;
  height: 20px;
}

.password_num{
  color: rgba(185, 185, 185, 1);
  font-size: 12px;
  padding-top: 3px;
}

.bottom_right{
  position: absolute;
  bottom: 10px;
  right: 30px;
  display: flex;
}

.like_icon{
  width: 20px;
  height: 17px;
  margin-top: 1px;
}
.like_num{
  font-size: 12px;
  padding-top: 3px;
  padding-left: 1px;
  margin-right: 20px;
}

.message_icon{
  width: 20px;
  height: 20px;
}
.message_num{
  font-size: 12px;
  padding-top: 3px;
  padding-left: 1px;
  margin-right: 20px;
}

.share_icon{
  padding-top: 1px;
  width: 20px;
  height: 20px;
}
.share_num{
  font-size: 12px;
  padding-top: 3px;
  padding-left: 1px;
}

.user_comment{
  height: 150px;
  position: relative;
  padding: 30px;
  text-align: start;
  border-bottom: 1px solid #E6E6E6;
  border-radius: 15px 15px 0px 0px;
}

.user_comment:last-child {
  border-bottom: none;
}

.post_date{
  position: absolute;
  top: 10px;
  right: 30px;
  color: rgba(185, 185, 185, 1);
  font-size: 14px;
}

.user_comment_imgBox{
  display: flex;
  align-items: center;
}
.user_comment_img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user_comment_comment{
  padding-left: 80px;
  font-size: 14px;
  padding-right: 80px;
}

/*.personal-trend-games{*/
/*  !*border: 1px solid red;*!*/
/*  background-color: white;*/
/*  position: absolute;*/
/*  border-radius: 15px;*/
/*  padding: 15px;*/
/*  width: 370px;*/
/*  height: 260px;*/
/*  left: 980px;*/
/*  margin-top: 430px;*/
/*}*/

/*.personal-top-tutors{*/
/*  background: white;*/
/*  position: absolute;*/
/*  border-radius: 15px;*/
/*  width: 370px;*/
/*  height: fit-content;*/
/*  left: 980px;*/
/*  margin-top: 725px;*/
/*}*/