<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/adminDefaultLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div layout:fragment="content">
<!--  <h2 th:text="${title}"></h2>-->
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">ImageUrl</th>
      <th scope="col">Name</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
      <th scope="col">DateCreated</th>
      <th scope="col">Subscription</th>
      <th scope="col">Role</th>
      <th scope="col">PaymentType</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.userId}"></td>
      <td th:text="${user.imageUrl}"></td>
      <td th:text="${user.userName}"></td>
      <td th:text="${user.password}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.dateCreated}"></td>
      <td th:text="${user.subscription}"></td>
      <td th:text="${user.role}"></td>
      <td th:text="${user.paymentType}"></td>
      <td>
        <form action="#" method="post" th:action="@{/admin/delete}" th:object="${user}">
          <input name="userId" type="hidden" th:value="${user.userId}">
          <input name="imageUrl" type="hidden" th:value="${user.imageUrl}">
          <input name="userName" type="hidden" th:value="${user.userName}">
          <input name="password" type="hidden" th:value="${user.password}">
          <input name="email" type="hidden" th:value="${user.email}">
          <input name="dateCreated" type="hidden" th:value="${user.dateCreated}">
          <input name="subscription" type="hidden" th:value="${user.subscription}">
          <input name="role" type="hidden" th:value="${user.role}">
          <input name="paymentType" type="hidden" th:value="${user.paymentType}">
          <button type="submit" class="btn btn-danger" name="deleteItem">Delete</button>
        </form>
      </td>
      <td>
        <form action="#" method="post" th:action="@{/admin/editForm}" th:object="${user}">
          <input name="userId" type="hidden" th:value="${user.userId}">
          <input name="imageUrl" type="hidden" th:value="${user.imageUrl}">
          <input name="userName" type="hidden" th:value="${user.userName}">
          <input name="password" type="hidden" th:value="${user.password}">
          <input name="email" type="hidden" th:value="${user.email}">
          <input name="dateCreated" type="hidden" th:value="${user.dateCreated}">
          <input name="subscription" type="hidden" th:value="${user.subscription}">
          <input name="role" type="hidden" th:value="${user.role}">
          <input name="paymentType" type="hidden" th:value="${user.paymentType}">
          <button type="submit" class="btn btn-secondary" name="editItem">Edit</button>
        </form>
      </td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>