<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'GGWP - ' + ${forumModel.getForumTitle()}"></title>
</head>
<body>
    <div class="home_content content" layout:fragment="content">
        <div class="forum-banner" th:object="${forumModel}">
            <div class="forum-left-banner">
                <img th:src="${forumModel.getImageURL()}" alt="">
            </div>
            <div class="forum-right-banner">
                <div class="forum-right-top-banner">
                    <div class="title" th:text="${forumModel.getForumTitle()}"></div>
                    <div id="game-type" th:text="${forumModel.getType()}">game type</div>
                    <button id="join-text" class="forum-button forum-join" type="button">Join</button>
                    <div class="forum-data-span">
                        <div class="span-right span">
                            <div class="amount" th:text="${forumArticles.size()}">40,789</div>
                            <div class="subtitle">Posts</div>
                        </div>
                        <div class="span-left span">
                            <div id="memberNumbers" class="amount">456</div>
                            <div class="subtitle">Members</div>
                        </div>
                    </div>
                    <div id="game-intro">
                        <p>
                            <i class='bx bx-book'></i>
                            <span th:text="${forumModel.getDescription()}">

                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="forum-game-articles">
                <ul>
                    <li th:each="forumArticle : ${forumArticles}">
                        <div class="article-left-panel">
                            <div class="article-title" >

                                <a th:href="@{/forum/{title}/{id}(title=${forumModel.getForumTitle()}, id=${forumArticle.getArticleID()})}" href="#" th:text="${forumArticle.getArticleTitle()}"></a>

                            </div>
                            <div class="summary">
                                <div class="summary-left">
                                    <i class='bx bx-book'></i>
                                </div>
                                <div class="summary-right" >
                                    <p th:text="${forumArticle.getArticleContent()}"></p>
                                </div>
                            </div>

                        </div>
                        <div class="article-right-panel">
                            <img th:src="${forumArticle.getImageURL()}" alt="">
                        </div>
                        <div class="divider"></div>
                    </li>

                </ul>
            </div>

            <button id="write-post" type="button"><a th:href="@{/forum/{title}/article_editor(title=${forumModel.forumTitle})}">
                Write Your Story...</a>
            </button>

            <div class="top-contributions">
                <div class="title">
                    <img src="/img/flames.png" alt=""><span>Top Contributors</span>
                </div>
                <ul>
                    <li id="rank-1">
                        <a href="#">@hideonbush<span>/gg</span></a>
                    </li>
                    <li id="rank-2">
                        <a href="#">@aceu<span>/wp</span></a>
                    </li>
                    <li id="rank-3">
                        <a href="#">@george45<span>/gg</span></a>
                    </li>
                    <li>
                        <a href="#">@john045<span>/gg</span></a>
                    </li>
                    <li>
                        <a href="#">@kiwi099<span>/gg</span></a>
                    </li>
                    <li>
                        <a href="#">@pewdiepie<span>/gg</span></a>
                    </li>
                    <li>
                        <a href="#">@uzi<span>/gg</span></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</body>
</html>