<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GG.WP - Home</title>
</head>
<body>
    <div class="home_content content" layout:fragment="content" th:object="${session.loggedInUser}">
        <div class="image-container">
            <div class="scroll-wrapper">
                <div class="slide">
                    <img src="/img/gamewallpaper/3.png" alt="">
                </div>
                <div class="slide">
                    <img src="/img/gamewallpaper/1.png" alt="">
                </div>
                <div class="slide">
                    <img src="/img/gamewallpaper/4.png" alt="">
                </div>
            </div>
            <div class="slider-nav">

            </div>
        </div>

        <form action="#" method="post" th:action="@{/addNewComment}" th:object="${newComment}">
        <div class="post-field">
            <div class="emoji-field" onmouseover="changeEmoji(this)" onclick="openSelector(this)">
                &#x1F642;
            </div>

            <div id="emoji-picker" class="emoji-container hidden"></div>


                <input th:field="${newComment.content}" id="emoji-input" type="text" placeholder="What's in your mind?" required>
                <button type="submit">GG!</button>

        </div>
        </form>

        <div class="users-post">
            <ul th:each="postModel : ${session.postModels}">
                <li>
                    <div class="game-field" th:text="${postModel.getGame()}">/game-field</div>
                    <div class="user-avatar-field">
                        <img class="profile-pic" th:src="${postModel.getImageUrl()}" alt="">
                        <div class="username">
                            <a th:href="@{/profile/{username}(username=${postModel.getUsername()})}" th:text="'@' + ${postModel.getUsername()}">@hello</a><span th:text="${postModel.getRole()}">/wp</span>
                            <span th:if="${postModel.getVip() == 'vip'}">
                                <img id="vip-logo" src="/img/vip.png" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="post-content">
                        <p th:text="${postModel.getContent()}"></p>
                    </div>
                    <div class="post-bottom">
                        <div class="post-timestamp">posted on <span th:text="${postModel.getDate()}"></span></div>

                        <div class="comment-likes">
                            <ul>
                                <li>
                                    <i class='bx bx-heart home-post-like' onclick="sendValueToController()" style='color:#ff6b6b'></i>
                                    <span class="home-post-likes-count" th:text="${postModel.getLikesCount()}"></span>
                                </li>
                                <li>
                                    <i class='bx bx-message-square-dots home-post-comment' style='color:lightsteelblue' ></i>
                                    <span class="home-post-comments-count" th:text="${postModel.getSubCommentsCount()}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="comment-dropdown">
                        <form method="post" th:action="@{/addNewSubComment}" th:object="${subComment}">
                        <div class="comment-input">

                                <img th:src="${postModel.getImageUrl()}" alt="">

                                <input name="user_id" type="hidden" th:value="${session.loggedInUser.getUserId()}">
                                <input name="comment_id" type="hidden" th:value="${postModel.getComment_id()}">

                                <input th:field="*{content}" id="commentInput" type="text" placeholder="say something..." required/>

                                <div id="cmt-char-count" class="charCount">0 / 150</div>

                                <button class="" id="cmt-send-btn" type="submit">
                                    <i class='bx bx-send bx-rotate-180' style='color:#ffffff' ></i>
                                </button>
                        </div>
                        </form>

                        <ul>
                            <li th:each="postSubModel : ${postModel.getPostSubModelList()}">
                                <img th:src="${postSubModel.getImageUrl()}" alt="">
                                <a th:text="'@' + ${postSubModel.getUsername()}">@user0</a>
                                <p th:text="${postSubModel.getContent()}">the sub comment will go here.</p>
                            </li>
                        </ul>
                    </div>

                    <!-- divider -->
                    <div class="divider"></div>
                </li>
            </ul>
        </div>

        <div class="trend-games">
            <div class="card-title"><span>.</span>Trend</div>
            <div class="list game-list">
                <ul>
                    <li>1<a href="#">Diablo 4</a><span>150k</span></li>
                    <li>2<a href="#">League of Legends</a><span>130k</span></li>
                    <li>3<a href="#">Valorant</a><span>100k</span></li>
                    <li>4<a href="#">Starfield</a><span>90k</span></li>
                    <li>5<a href="#">Super Mario</a><span>70k</span></li>
                </ul>
            </div>
        </div>

        <div class="top-tutors">
            <div class="card-title"><span>.</span>Top Tutors</div>
            <div class="list tutor-list">
                <ul>
                    <li><img src="https://i.pinimg.com/originals/57/3f/22/573f22a1aa17b366f5489745dc4704e1.jpg" alt=""><a href="">@hideonbush</a><span>/leagueoflegends</span></li>
                </ul>
                <ul>
                    <li><img src="https://moodoffdp.com/wp-content/uploads/2023/04/Sad-Anime-Boy-DP-for-Whatsapp-1024x1024.jpg" alt=""><a href="">@sasukekkkkk</a><span>/apex</span></li>
                </ul>
                <ul>
                    <li><img src="https://qph.cf2.quoracdn.net/main-qimg-89380dcfb5e239d42d8ee3475bedcd36-lq" alt=""><a href="">@aceu</a><span>/apex</span></li>
                </ul>
                <ul>
                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbHqWUGUHHvKEHyzwWc7lY1Lf_-ruzCoErPA&usqp=CAU" alt=""><a href="">@uzi</a><span>/leagueoflegends</span></li>
                </ul>
                <ul>
                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSahZ-4AZj4OSBpo_8Lwd5NaO7f8-2HgSJaHg&usqp=CAU" alt=""><a href="">@shr0nd</a><span>/pubg</span></li>
                </ul>
                <ul>
                    <li><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/ebe5b794-5b70-4134-bddd-c738d96943cd-profile_image-300x300.jpg" alt=""><a href="">@johndoe</a><span>/cs:go</span></li>
                </ul>
                <ul>
                    <li><img src="https://play-lh.googleusercontent.com/7Ac5TgaL15Ra4bvFVHJKCdJp4qvnL4djZj5bKc6RN-MZjzrvkeHbJytek0NPTSdZcp8" alt=""><a href="">@s1mple</a><span>/cs:go</span></li>
                </ul>
                <ul>
                    <li><img src="https://www.gamepur.com/wp-content/uploads/wp-content/uploads/2022/06/01082417/Saitama-5.jpg" alt=""><a href="">@naruto</a><span>/dota2</span></li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>