<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
  </head>
  <body>
    <div class="home_content content container" layout:fragment="content">
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-1.png" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-2.png" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-3.jpg" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-4.jpeg" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-5.jpeg" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-6.jpg" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-7.jpeg" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-8.jpg" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-9.jpeg" alt="" />
      </div>
      <div class="game-card">
        <img class="game-cover" src="/img/game-covers/game-cover-10.jpeg" alt="" />
      </div>
    </div>
  </body>
</html>
