<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="layouts/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="Paymentcontainer" layout:fragment="content">
    <form id="cc-form" action="#" method="post" th:action="@{finishPayment}" th:object="${paymentModel}">
        <input type="hidden" th:field="*{method}"/>
        <input type="hidden" th:field="*{selectedPlan}"/>
        <div class="row">
            <div class="col">
                <h3 class="title">Pay by Credit/Debit Card</h3>
                <img src="img/userPayment/creditdebit.png" alt="">
                <div>
                    <input style="display: inline; transform: scale(1.5)" type="radio"  name="method" id="credit">
                    <label for="credit"> Credit Card</label>
                    <input  style="display: inline; transform: scale(1.5)" type="radio" name="method" id="debit">
                    <label for="debit"> Debit Card</label><br>
                </div>
                <div class="inputBox">
                    <span>Card number: </span>
                    <input id="card-number" th:field="*{cardNumber}" type="number" placeholder="xx xxxx xxx">
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}" style="color: red">
                        Card number Error</p>
                </div>
                <div class="inputBox">
                    <span>Expiration date: </span>
                    <input th:field="*{expirationDate}" type="month" placeholder="YY-mm">
                </div>
                <div class="inputBox">
                    <span>CVV: </span>
                    <input th:field="*{cvv}" type="number" placeholder="xxx"/>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}" style="color: red">CVV Error</p>
                </div>
                <div class="inputBox">
                    <span>Full name: </span>
                    <input type="text" placeholder="">
                </div>
                <div class="inputBox">
                    <span>Billing address: </span>
                    <input type="text" placeholder="unit - Street name">
                </div>
                <div class="inputBox">
                    <span>Phone number: </span>
                    <input type="number" placeholder="xxx-xxx-xxx">
                </div>
                <button id="submit-btn" type="submit" class="submit-btn">
                    <i class="fa"></i> Checkout
                </button>
            </div>
            <div class="col">
                <h3 class="title">Thanks for Subscription</h3>
                <td class="content-block">

                </td>
                </tr>
                <tr>
                    <td class="content-block">
                        <table class="invoice">
                            <tbody><tr>
                                <td>Your plan is <span th:text="*{selectedPlan.getName()}"/></td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="invoice-items" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td>Price: </td>
                                            <td class="alignright">$ <span th:text="*{selectedPlan.price}"/></td>
                                        </tr>
                                        <tr>
                                            <td>PST (7%):</td>
                                            <td class="alignright">$ <span th:text="*{selectedPlan.pst}"/></td>
                                        </tr>
                                        <tr>
                                            <td>GST (5%):</td>
                                            <td class="alignright">$ <span th:text="*{selectedPlan.gst}"/></td>
                                        </tr>

                                        <tr class="total">
                                            <td class="alignright" width="80%">Total</td>
                                            <td class="alignright">$ <span th:text="*{selectedPlan.total}"/></td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
            </div>
        </div>
    </form>
</div>
</body>
</html>