<!doctype html>
<html lang="en" layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${'GGWP - ' + personalProfile.getUserName()}"></title>
   
  </head>

  <body>
  <div class="home_content content" layout:fragment="content" >

    <div class="left-wrapper-container">
      <div class="container-profile" >
        <div class="profile-card">
          <div class="row-1">
            <img src="https://img.freepik.com/free-vector/abstract-background-with-rainbow-coloured-hologram-background_1048-14816.jpg" class="cover-pic">
          </div>
          <div class="row-2">
            <div class="col-1" th:object="${personalProfile}">

            <!-- change user profile here-->
              <form th:action="@{/uploadImage}" method="post" enctype="multipart/form-data">
                <img th:src="${personalProfile.getImageUrl()}" id="userAvatar" onclick="openFileInput()" class="user-profile-pic">
                <input th:name="imageFile" type="file" id="fileInput" style="display: none" accept="image/*" onchange="handleFileSelect(event)">
                <button class="green_dot" type="submit"><i class='bx bx-face'></i></button>
              </form>


              <div class="user" th:text="${personalProfile.getUserName()}">username</div>
<!--              <div class="add_bio"><a href="#">add bio</a></div>-->
            </div>
            <div class="col-2">
              <div class="col-2-1" >Steam: <span th:text="${personalProfile.getUserName()}">Hideonbush</span></div>
              <div class="col-2-1">Xbox: <span th:text="${personalProfile.getUserName()}">Hideonbush</span></div>
              <div class="col-2-1">Playstation: <span th:text="${personalProfile.getUserName()}">Hideonbush</span></div>
              <div class="col-2-1">Discord: <span th:text="${personalProfile.getUserName()}">Hideonbush</span></div>
            </div>
          </div>
          <div class="tab_box">
            <button class="tab_btn active">Likes</button>
            <button class="tab_btn">Comments</button>
            <button class="tab_btn">Repo</button>
            <div class="line2"></div>
          </div>
        </div>
      </div>

      <div class="container-content">
        <div class="content-box">
          <div class="tab_content active">
            <div class="likes">
              <div class="post_date">posted on 20 June, 2023</div>
              <div class="gameTitle">/leagueoflegends</div>
              <div class="user_comment_imgBox">
                <img src="/img/player1.jpg" class="user_comment_img">
                <div class="user_comment_acc">@uchiha_sasuki</div>
                <div class="gg_wp">/gg</div>
              </div>
              <div class="user_comment_comment">Looking for a player who can play top or jungle lane. Our average rank is platinum!!! Add me as soon as possible!!! 😎</div>
              <div class="showpassword">
                <img src="/img/showpassword.png" class="password_icon" >
                <div class="password_num">3k</div>
              </div>
              <div class="bottom_right">
                <img src="/img/heart2.png" class="like_icon" >
                <div class="like_num">341</div>
                <img src="/img/message.png" class="message_icon" >
                <div class="message_num">52</div>
                <img src="/img/share.png" class="share_icon" >
                <div class="share_num">14</div>
              </div>
            </div>
            <div class="likes">
              <div class="post_date">posted on 19 June, 2023</div>
              <div class="gameTitle">/apex</div>
              <div class="user_comment_imgBox">
                <img src="/img/player2.jpg" class="user_comment_img">
                <div class="user_comment_acc">@aceu</div>
                <div class="gg_wp">/wp</div>
              </div>
              <div class="user_comment_comment">My stream on Twitch started! Please go follow me!! (●'◡'●)</div>
              <div class="showpassword">
                <img src="/img/showpassword.png" class="password_icon" >
                <div class="password_num">101k</div>
              </div>
              <div class="bottom_right">
                <img src="/img/heart2.png" class="like_icon" >
                <div class="like_num">912</div>
                <img src="/img/message.png" class="message_icon" >
                <div class="message_num">89</div>
                <img src="/img/share.png" class="share_icon" >
                <div class="share_num">56</div>
              </div>
            </div>
          </div>
          <div class="tab_content">
            <h2>Comments</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda similique praesentium neque, porro officiis quisquam id. Est quisquam quasi maxime exercitationem velit enim nisi, odio eveniet blanditiis necessitatibus quaerat.
            </p>
          </div>
          <div class="tab_content">
            <h2>Repo</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda similique praesentium neque, porro officiis quisquam id. Est quisquam quasi maxime exercitationem velit enim nisi, odio eveniet blanditiis necessitatibus quaerat.
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="right-wrapper-container">
      <div class="personal-trend-games">
        <div class="card-title"><span>.</span>Trend</div>
        <div class="list game-list">
          <ul>
            <li>1<a href="#">Diablo 4</a><span>150k</span></li>
            <li>2<a href="#">League of Legends</a><span>130k</span></li>
            <li>3<a href="#">Valorant</a><span>100k</span></li>
            <li>4<a href="#">Starfield</a><span>90k</span></li>
            <li>5<a href="#">Super Mario</a><span>70k</span></li>
          </ul>
        </div>
      </div>
      <div class="personal-top-tutors">
        <div class="card-title"><span>.</span>Top Tutors</div>
        <div class="list tutor-list">
          <ul>
            <li><img src="https://i.pinimg.com/originals/57/3f/22/573f22a1aa17b366f5489745dc4704e1.jpg" alt=""><a href="">@hideonbush</a><span>/leagueoflegends</span></li>
            <li><img src="https://moodoffdp.com/wp-content/uploads/2023/04/Sad-Anime-Boy-DP-for-Whatsapp-1024x1024.jpg" alt=""><a href="">@sasukekkkkk</a><span>/apex</span></li>
            <li><img src="https://qph.cf2.quoracdn.net/main-qimg-89380dcfb5e239d42d8ee3475bedcd36-lq" alt=""><a href="">@aceu</a><span>/apex</span></li>
            <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbHqWUGUHHvKEHyzwWc7lY1Lf_-ruzCoErPA&usqp=CAU" alt=""><a href="">@uzi</a><span>/leagueoflegends</span></li>
            <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSahZ-4AZj4OSBpo_8Lwd5NaO7f8-2HgSJaHg&usqp=CAU" alt=""><a href="">@shr0nd</a><span>/pubg</span></li>
            <li><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/ebe5b794-5b70-4134-bddd-c738d96943cd-profile_image-300x300.jpg" alt=""><a href="">@johndoe</a><span>/cs:go</span></li>
            <li><img src="https://play-lh.googleusercontent.com/7Ac5TgaL15Ra4bvFVHJKCdJp4qvnL4djZj5bKc6RN-MZjzrvkeHbJytek0NPTSdZcp8" alt=""><a href="">@s1mple</a><span>/cs:go</span></li>
            <li><img src="https://www.gamepur.com/wp-content/uploads/wp-content/uploads/2022/06/01082417/Saitama-5.jpg" alt=""><a href="">@naruto</a><span>/dota2</span></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
<!--    <script>-->
<!--      const tabs = document.querySelectorAll('.tab_btn');-->
<!--      const all_content = document.querySelectorAll('.content');-->

<!--      tabs.forEach((tab, index) => {-->
<!--        tab.addEventListener('click', (e) => {-->
<!--          tabs.forEach(tab => tab.classList.remove('active'));-->
<!--          tab.classList.add('active');-->

<!--          var line = document.querySelector('.line');-->
<!--          line.style.width = e.target.offsetWidth + "px";-->
<!--          line.style.left = e.target.offsetLeft + "px";-->

<!--          all_content.forEach(content => content.classList.remove('active'))-->
<!--          all_content[index].classList.add('active');-->
<!--        })-->
<!--      })-->
<!--    </script>-->
  </body>
</html>
