<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/770c90d0eb.js"
      crossorigin="anonymous"
    ></script>
    <title>Post</title>
  </head>
  <body>
    <div class="post-page-container content home_content" layout:fragment="content">
      <div class="action-box">
        <div class="action">
          <i class="far fa-thumbs-up"></i>
          <h6>Like</h6>
        </div>
        <div class="action">
          <i class="far fa-bookmark"></i>
          <h6>Add</h6>
        </div>
        <div class="action">
          <i class="fas fa-crown"></i>
          <h6>Sponsor</h6>
        </div>
      </div>
      <div th:utext="${articleModel.getContentAsHtml()}" class="post-page-content">

<!--        <h1>How to Play Gnar</h1>-->
<!--        <img-->
<!--          src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Gnar_0.jpg"-->
<!--          alt=""-->
<!--        />-->

<!--        <h3>Step 1: Picking Gnar</h3>-->
<!--        <p>-->
<!--          First things first, make sure you're in the champion select screen.-->
<!--          When it's your turn, look for the cute little Yordle with a boomerang-->
<!--          and a big attitude! That's Gnar! Lock him in and get ready for some-->
<!--          fun.-->
<!--        </p>-->

<!--        <h3>Step 2: Understanding Gnar's Abilities</h3>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <strong>Passive - Rage Gene:</strong> Gnar's passive allows him to-->
<!--            build up Rage as he deals and takes damage. When the Rage bar is-->
<!--            full, he transforms into Mega Gnar, gaining new abilities and a-->
<!--            significant boost to his stats.-->
<!--          </li>-->
<!--          <li>-->
<!--            <strong>Q - Boomerang Throw / Boulder Toss:</strong> In his Mini-->
<!--            form, Gnar throws his boomerang in a straight line, damaging and-->
<!--            slowing enemies hit. The boomerang can hit twice – once on the way-->
<!--            out and once on the way back. Catching the boomerang reduces its-->
<!--            cooldown. In his Mega form, Gnar throws a boulder in a small arc,-->
<!--            damaging and slowing enemies hit.-->
<!--          </li>-->
<!--          <li>-->
<!--            <strong>W - Hyper / Wallop:</strong> In Mini form, Gnar's basic-->
<!--            attacks and abilities empower his next basic attack with bonus-->
<!--            damage and speed. In Mega form, Gnar smashes the ground, dealing-->
<!--            area-of-effect damage and briefly stunning enemies.-->
<!--          </li>-->
<!--          <li>-->
<!--            <strong>E - Hop / Crunch:</strong> In Mini form, Gnar hops to a-->
<!--            location, gaining a movement speed boost. If he lands on an enemy or-->
<!--            picks up his boomerang, the cooldown is reduced. In Mega form, Gnar-->
<!--            leaps forward, damaging and slowing enemies in the impact area.-->
<!--          </li>-->
<!--          <li>-->
<!--            <strong>R - GNAR!:</strong> Gnar's ultimate is a game-changer! In-->
<!--            Mega form, he can unleash his rage and toss enemies in a target-->
<!--            direction. Enemies hit by this ability take damage and are briefly-->
<!--            knocked up. Perfect for initiating fights or disrupting the enemy-->
<!--            team.-->
<!--          </li>-->
<!--        </ul>-->

<!--        <h3>Step 3: Early Game Strategies</h3>-->
<!--        <p>-->
<!--          During the early game, you'll be playing in Mini form. Focus on-->
<!--          farming minions with your basic attacks and using your Boomerang Throw-->
<!--          (Q) to poke your opponent. Try to catch the boomerang to reduce its-->
<!--          cooldown and maximize your damage output.-->
<!--        </p>-->
<!--        <p>-->
<!--          Use your Hop (E) to escape ganks or engage when the opportunity-->
<!--          arises. Keep an eye on your Rage bar – once it's full, you're about to-->
<!--          transform into Mega Gnar!-->
<!--        </p>-->

<!--        <h3>Step 4: Transforming into Mega Gnar</h3>-->
<!--        <p>-->
<!--          When your Rage bar is full, you'll transform into Mega Gnar after-->
<!--          using an ability. Mega Gnar has increased health, attack damage, and-->
<!--          crowd control abilities. Your goal in this form is to initiate team-->
<!--          fights with your ultimate (R) GNAR! and disrupt the enemy team.-->
<!--        </p>-->

<!--        <h3>Step 5: Mid to Late Game</h3>-->
<!--        <p>-->
<!--          As the game progresses, look for opportunities to split push in Mini-->
<!--          form or join your team for team fights in Mega form. Remember, Gnar's-->
<!--          strength lies in his versatility and ability to control team fights-->
<!--          with his powerful crowd control.-->
<!--        </p>-->

<!--        <h3>Step 6: Tips and Tricks</h3>-->
<!--        <ul>-->
<!--          <li>-->
<!--            Coordinate with your team when you're about to transform into Mega-->
<!--            Gnar. Let them know you're ready to engage!-->
<!--          </li>-->
<!--          <li>-->
<!--            Utilize walls and terrain to surprise your enemies with your Hop (E)-->
<!--            or Crunch (E) and escape dangerous situations.-->
<!--          </li>-->
<!--          <li>-->
<!--            When playing against ranged champions, use your Boomerang Throw (Q)-->
<!--            to farm safely from a distance.-->
<!--          </li>-->
<!--          <li>-->
<!--            Practice catching your boomerang consistently to reduce cooldowns-->
<!--            and maximize damage.-->
<!--          </li>-->
<!--        </ul>-->

<!--        <p>-->
<!--          Final Thoughts: Gnar is a super fun and versatile champion to play,-->
<!--          but mastering his transformations and abilities will take practice. So-->
<!--          get out there on the Rift and have a Gnarly time playing the adorable-->
<!--          yet fierce Yordle! Good luck, summoner!-->
<!--        </p>-->
      </div>
      <div class="post-sponsors">
        <h4>Sponsors</h4>
        <div class="sponsor-box">
          <img
            class="sponsor-avatar"
            src="https://gamefinity-assets.sgp1.digitaloceanspaces.com/wp-content/uploads/2023/06/08174146/Soundtrack-Bocchi-the-Rock.jpg"
            alt=""
          />
          <p class="sponsor-name">Sponsor name</p>
          <p>10.00</p>
        </div>
        <div class="sponsor-box">
          <img
            class="sponsor-avatar"
            src="https://gamefinity-assets.sgp1.digitaloceanspaces.com/wp-content/uploads/2023/06/08174146/Soundtrack-Bocchi-the-Rock.jpg"
            alt=""
          />
          <p class="sponsor-name">Sponsor name</p>
          <p>10.00</p>
        </div>
        <div class="sponsor-box">
          <img
            class="sponsor-avatar"
            src="https://gamefinity-assets.sgp1.digitaloceanspaces.com/wp-content/uploads/2023/06/08174146/Soundtrack-Bocchi-the-Rock.jpg"
            alt=""
          />
          <p class="sponsor-name">Sponsor name</p>
          <p>10.00</p>
        </div>
      </div>
    </div>
  </body>
</html>
