<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="'Search:' + ${keyword}"></title>
</head>
<body>
  <div class="home_content content" layout:fragment="content">
    <div class="left-wrapper-container">
      <div class="container-profile" >
        <div class="search-tab">

          <div class="tab_box">
            <button class="tab_btn active">Comment</button>
            <button class="tab_btn">User</button>
            <button class="tab_btn">Forum</button>
            <button class="tab_btn">Articles</button>
            <div class="line3"></div>
          </div>
        </div>
      </div>

      <div class="container-content" >
        <div class="content-box">
          <div class="comment-tab-content tab_content active">
            <ul>
              <li class="search-comment-results" th:each="searchPostModelResult : ${searchPostModelResults}">
                  <div class="post_date" th:text="${searchPostModelResult.getDate()}" ></div>
                  <div class="gameTitle" th:utext="${searchPostModelResult.getGame()}"></div>
                  <div class="user_comment_imgBox">
                    <img th:src="${searchPostModelResult.getImageUrl()}" class="user_comment_img">
                    <div class="user_comment_acc" th:text="'@'+${searchPostModelResult.getUsername()}" style="margin-left: 15px"></div>
                  </div>
                  <div class="user_comment_comment_search" th:utext="${searchPostModelResult.getContent()}"></div>
<!--                  <div class="user_comment_comment_search"-->
<!--                       th:utext="${#strings.replace(searchPostModelResult.getContent(), keyword, '<span style=\'color:yellow\'>' + keyword + '</span>')}"></div>-->

              </li>
            </ul>
          </div>
          <div class="tab_content user-tab-content">
            <ul>
                <li th:each="userSearchResult : ${userSearchResults}">
                  <img th:src="${userSearchResult.getImageUrl()}" th:alt="${userSearchResult.getUserName()}" >
                  <a th:utext="'@'+${userSearchResult.getUserName()}" th:href="@{/profile/{username}(username=${userSearchResult.removeString(userSearchResult.getUserName())})}"></a>
<!--                  <a th:utext="'@'+${userSearchResult.getUserName()}" th:href="@{/profile/{username}(username= )></a>-->
                </li>
            </ul>
          </div>
          <div class="tab_content" style="padding: 15px">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda similique praesentium neque, porro officiis quisquam id. Est quisquam quasi maxime exercitationem velit enim nisi, odio eveniet blanditiis necessitatibus quaerat.
            </p>
          </div>
          <div class="tab_content" style="padding: 15px">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda similique praesentium neque, porro officiis quisquam id. Est quisquam quasi maxime exercitationem velit enim nisi, odio eveniet blanditiis necessitatibus quaerat.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>