<div class="header-section" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >

        <div class="d-flex align-items-center" style="padding-left: 10px">
            <a class="navbar-brand">GGWP Admin Page</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/">All <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/showSearchForm">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/showNewUserForm">Add User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/games">All games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/games/addForm">Add Game</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

