<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header Fragment</title>
</head>
<body>
<div class="header" th:fragment="header">
    <div class="search-bar">
        <a target="_blank" th:href="@{/admin/}"><img src="/img/ggwp-logo.png" alt=""></a>
        <form method="get" th:action="@{/search}">
            <i class='bx bx-search'></i>
            <input type="text" th:name="keyword" placeholder="you are looking for... >.<">
        </form>
    </div>
</div>
</body>

