<!--<div th:fragment="side">-->
    <div class="sidebar" th:fragment="side" th:object="${session.loggedInUser}">
        <div class="logo_content">
            <div class="logo">
                <div class="logo_name">GG.WP</div>
            </div>
            <div>
                <i class='bx bx-menu' id="btn"></i>
            </div>
            <ul class="nav_list">
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <i class='bx bx-search'></i>-->
<!--                        <input type="text" placeholder="Search..">-->
<!--                    </a>-->
<!--                </li>-->
                <li>
                    <a th:href="@{/home}">
                        <i class='bx bx-home'></i>
                        <span class="links_name">Home</span>
<!--                        <span class="tooltip">Home</span>-->
                    </a>
                </li>
                <li>
                    <a th:href="@{/library/}">
                        <i class='bx bx-game' ></i>
                        <span class="links_name">Game</span>
<!--                       <span class="tooltip">Home</span>-->
                    </a>
                </li>
                <li>
                    <a th:href="@{/tutors/}">
                        <i class='bx bx-headphone'></i>
                        <span class="links_name">Tutor</span>
<!--                        <span class="tooltip">Home</span>-->
                    </a>
                </li>
                <li>
                    <a th:href="@{/subscription}">
                        <i class='bx bx-dollar-circle' style="color: #e73c7e"></i>
                        <span class="links_name" style="color: #e73c7e">Join Us</span>
<!--                        <span class="tooltip">Home</span>-->
                    </a>
                </li>
            </ul>

            <div class="profile_content">
                <div class="profile" >
                    <a th:href="@{/profile/{username}(username=${session.loggedInUser.userName})}" style="text-decoration: none;color: inherit">
                        <div class="profile_details">
                            <img th:src="*{imageUrl}" alt="">
                            <div class="name_job">
                                <div class="name" th:text="*{userName}">Name</div>
                                <div class="job" th:text="*{role}">type</div>
                            </div>
                        </div>
                        <i class='bx bx-log-out' id="log_out"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>