<!DOCTYPE html>
<html decorate="layout/defaultLayout" lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Title</title>

<!--    <link rel="icon" type="image/png" href="/img/ggwp-logo.png" sizes="64x64">-->
    <link rel="icon" type="image/png" href="/img/ggwp-logo.png">

    <!-- box icon library -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/zz85dgnmzbbjcliesc73bderj8ahge2enc8w577w6n0u5ouu/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- emoji picker library -->
    <script src="https://cdn.jsdelivr.net/npm/picmo@latest/dist/umd/index.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- local css files -->
    <link rel="stylesheet" href="/layouts/search.css">
    <link rel="stylesheet" href="/layouts/common_style.css">
    <link rel="stylesheet" href="/layouts/home_page.css">
    <link rel="stylesheet" href="/layouts/personal_profile.css">
    <link rel="stylesheet" href="/layouts/tutor_profile.css">
    <link rel="stylesheet" href="/layouts/library.css">
    <link rel="stylesheet" href="/layouts/tutors_page.css">
    <link rel="stylesheet" href="/layouts/forum.css">
<!--    <link rel="stylesheet" href="/layouts/style.css">-->
    <link rel="stylesheet" href="/layouts/post_page.css" />
    <link rel="stylesheet" href="/layouts/tutor_details.css">
    <link rel="stylesheet" href="/layouts/tutor_details_modal.css">


</head>
<body>
    <div class="header" th:replace="layouts/commonHeader :: header">
        My header will go here.
    </div>

    <div class="sidebar" th:replace="~{layouts/commonSide :: side}">
        My sidebar will go here.
    </div>

    <div layout:fragment="content">
        <p>Replace this with a page that has layout:fragment="content"</p>
    </div>

    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");

        btn.onclick = function(){
            sidebar.classList.toggle("active");
        }

        searchBtn.onclick = function(){
            sidebar.classList.toggle("active");
        }
    </script>

    <script>
        const tabs = document.querySelectorAll('.tab_btn');
        const all_content = document.querySelectorAll('.tab_content');

        tabs.forEach((tab, index) => {
            tab.addEventListener('click', (e) => {
                tabs.forEach(tab => tab.classList.remove('active'));
                tab.classList.add('active');

                var line = document.querySelector('.line');
                line.style.width = e.target.offsetWidth + "px";
                line.style.left = e.target.offsetLeft + "px";

                all_content.forEach(content => content.classList.remove('active'))
                all_content[index].classList.add('active');
            })
        })
    </script>
    <script>
        const tabs2 = document.querySelectorAll('.tab_btn');
        const all_content2 = document.querySelectorAll('.tab_content');

        tabs2.forEach((tab, index) => {
            tab.addEventListener('click', (e) => {
                tabs2.forEach(tab => tab.classList.remove('active'));
                tab.classList.add('active');

                var line2 = document.querySelector('.line2');
                line2.style.width = e.target.offsetWidth + "px";
                line2.style.left = e.target.offsetLeft + "px";

                all_content2.forEach(content => content.classList.remove('active'))
                all_content2[index].classList.add('active');
            })
        })
    </script>
    <!DOCTYPE html>
    <html>
    <head>
        <script src="https://cdn.tiny.cloud/1/zz85dgnmzbbjcliesc73bderj8ahge2enc8w577w6n0u5ouu/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    </head>
    <body>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
        });
    </script>
    </body>
    </html>
    <script src="/home_page.js"></script>
    <script src="/home_emoji_picker.js"></script>
    <script src="/tutors_page_heart.js"></script>
    <script src="/post_page.js"></script>
    <script src="/forum.js"></script>
    <script src="/payment.js"></script>
    <script src="/tutors_page_availability.js"></script>
    <script src="/tutor_details_modal.js"></script>
    <script src="/use_avater_change.js"></script>

</body>
</html>